html {
  scroll-behavior: smooth;
}

body {
  background-color: #131314;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
