.card {
    background-color: #1d1d1d;
    width: 35vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 2em;
    text-align: center;
    border-radius: 20px;
    padding: 1em;
    color: rgb(161, 159, 159);
}